<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />

        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/themes/base/css")
        @Scripts.Render("~/bundles/modernizr")      
        @Scripts.Render("~/bundles/jquery")   
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/jqueryval")

    </head>
    <body>
        <header> 
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("ETS Time Entry", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                    <nav>
                        @if (Request.IsAuthenticated)
                        {
                            
                            <ul id="menu">
                                <li>@Html.ActionLink("Home", "Index", "Home")</li> 
                                @if (Roles.IsUserInRole("Supervisor"))
                                {
                                    <li>@Html.ActionLink("Coaches", "Index", "Supervisor")</li>
                                }
                                <li>@Html.ActionLink("Time Cards", "Weeks", "Card")</li>
                                <li><a href="http://www.etime.net/home.php" target="_blank">About</a></li>
                                <li><a href="http://www.etime.net/contact.php" target="_blank">Contact</a></li>
                            </ul>
                        }
                    </nav>
                </div>
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - ETS Inc.</p>
                </div>
            </div>
        </footer>
        
        @RenderSection("scripts", required: false)
    </body>
</html>
