@model ETSWeb.Models.TimeLineModel

@{
    ViewBag.Title = "Create";
}

<h2>CreateLines</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TimeLineModel</legend>
        <div style="text-align: center; float:left">
            <div class="editor-label">
                @Html.LabelFor(model => model.Date)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Date)
            </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.ClientID)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ClientID)
            @Html.ValidationMessageFor(model => model.ClientID)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ActivityCode)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ActivityCode)
            @Html.ValidationMessageFor(model => model.ActivityCode)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartTime)
            @Html.ValidationMessageFor(model => model.StartTime)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndTime)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EndTime)
            @Html.ValidationMessageFor(model => model.EndTime)
        </div>
            
        </div>
        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
