@model ETSWeb.Models.WeeksModel
@using System.Globalization;

@{
    ViewBag.Title = "Weeks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Weeks</h2>

<div>Please choose a week from the list below</div>

<table>
    <tr>
        <td>Week</td>
        <td>Number of Clients</td>
        <td>Total Units</td>
        <td>Total Hours</td>
    </tr>
    @foreach (var week in Model.Weeks)
        {
            string weekString = week.WeekStart.ToString("MM/dd/yyyy") + " - " + week.WeekEnd.ToString("MM/dd/yyyy");
        <tr>
            <td>@Html.ActionLink(weekString, "WeekEntry", new { weekStart = week.WeekStart.ToString("MM-dd-yyyy") })</td>
            <td>@Html.DisplayFor(modelItem => week.TotalClients)</td>
            <td>@Html.DisplayFor(modelItem => week.TotalUnits)</td>
            <td>@Html.DisplayFor(modelItem => week.TotalHours)</td>
            @if (ViewBag.AllowDuplicates)
            { 
                <td>@Html.ActionLink("Duplicate", "WeekDuplicate", new { weekStart = week.WeekStart.ToString("MM-dd-yyyy") })</td>
            }
        </tr>
        }
</table>
